.navbar-container {
  background-color: #9796f0;
  height: 90px;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.emoji-logo-container {
  display: flex;
  flex-direction: row;
}
.emoji-logo {
  height: 40px;
  width: 40px;
}
.emoji-game-text {
  font-family: 'Roboto';
  font-size: 19px;
  font-weight: 500;
  color: #ffffff;
  margin-top: 10px;
}
.score-container {
  display: flex;
  flex-direction: row;
}
.score-text {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
  margin-right: 25px;
}
